* {
    margin: 0;
    padding: 0;
  }
  
  html body {
    scroll-behavior: smooth;
    text-align: center;
  }


  body {
    display: block;
    background-image: linear-gradient(rgb(238, 205, 222), rgba(176, 189, 180, 0.97));
  }

nav {
display: block;

}
  nav ul{
    position: absolute;
    text-align: right;
    width:90%;
    background-color: 879688(48, 65, 47);
    font-family: "comfortaa",sans-serif;
    font-size: 1.2em;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;


}

nav ul li {
  display: inline-block;
margin: 30px;}

nav ul li a {
  display: flex;
  justify-content: center;
  color: black;
}



nav:hover {
  background-color: rgb(48, 65, 47);


}

.under-nav-content {
  line-height: 1.6;
  background: #879688;
  min-height: 55vh;
  padding-top: 45vh;
}
 
.under-nav-content:hover {
background-color: rgb(48, 65, 47);
}


   h1 {
    color: white;
    position: relative;
    font-family:"josefin sans" ;
    font-size: 60px;
    text-align: center;
    letter-spacing: .125em;
    top: 2px;
   }

  h2 {
    position: relative;
    font-family:"josefin sans" ;
    font-size: 30px;
    text-align: center;
    letter-spacing: .125em;
    color: white;
    top: -20px;
  }

  .project {
    text-decoration: none;
    background-color: #c4c4c4;
    display: inline-block;
    overflow: hidden;
    border: 2px solid #ababab;
    border-radius: 5px;
    height: 220px;
    width: 280px;
    margin: 40px 100px;
    padding-top: 10px;

  }

  .project-img {
    height: 180px;
    border-bottom: 2px solid #ababab;
    border-radius: 5px;
  }

  h4 {
position: relative;
color: black;
font-size: 40px;

  }
  
 h5, h6 {
    font-size: 100%;
  }
 
 .post-card-content  {
  display: block;
  padding-top: 60px;
  margin-top: -60px;
  padding-bottom: 60px;
  background-color: #dcdcdc;
}


 .side-bar {
 display: flex;
 flex-wrap: wrap;
background-color: rgb(226, 211, 218);
width: 2000  px;
height: 700px;
float: right;
 }

.side-bar-content {
/* text-align: center; */
display: block;
justify-content: center;
width: 500px;

}
#contact {
float: left;
background-color: rgb(226, 211, 218);
padding: 60px;
}

#contact li {
  /* display: block; */
  /* flex-wrap: wrap; */
 background-color: rgb(226, 211, 218);
 /* width: 500px; */
 height: 500px;
 float: left;
 font-size: 20px;
}


#resume {}
  
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }
  
  ol, ul {
    list-style: none;
  }



  footer {
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 2000px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }


  /* for mobile phones */
  @media screen and (max-width:320px){
.post-card-content {display: flex; flex-wrap: wrap;
  }
}

 /* for desktop */
 @media screen and (max-width:768px) {
  .post-card-content { display: flex; flex-wrap: wrap;}
  .side-bar-content {width: 20%;}
 }